# Port de la Gateway
PORT=3000

# Environnement (development | test | production)
NODE_ENV=development

# URL du frontend (pour CORS)
FRONTEND_URL=http://localhost:your_frontend_port_here

# URLs des microservices internes
USERS_SERVICE_URL=http://your_users_host_here:3001
COLOCATIONS_SERVICE_URL=http://your_colocations_host_here:3002
MESSAGES_SERVICE_URL=http://your_messages_host_here:3003

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
